[rtcamp-nginx-req-limit]
enabled = true
filter = rtcamp-nginx-req-limit
action = iptables-multiport[name=ReqLimit, port="http,https", protocol=tcp]
logpath = /opt/easyengine/sites/*/logs/nginx/error.log
findtime = 600
bantime = 86400
maxretry = 5
